
// Base16 Tomorrow
// A color scheme by Chris Kempson (http://chriskempson.com)

// Grayscale
@black:           #191d24; // 00
@very-dark-gray:  #343d4b; // 01
@dark-gray:       #4f5d72; // 02
@gray:            #697b96; // 03
@light-gray:      #8d9bb0; // 04
@very-light-gray: #b4bdcb; // 05
@almost-white:    #dbdfe6; // 06
@white:           #ffffff; // 07

// Colors
@red:             #BB90F4; // 08
@orange:          #D2B6F7; // 09
@yellow:          #49E9DE; // 0A
@green:           #3ECCC2; // 0B
@cyan:            #90BAE0; // 0C
@blue:            #77AFF8; // 0D
@purple:          #F191F2; // 0E
@brown:           #C5E2FC; // 0F
